/* Color Theme Swatches in RGBA */
/* Media queries */
.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.3s ease-in-out;
  color: aliceblue;
  background-color: rgba(220, 158, 194, 0.841);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 100;
}
.navbar-brand {
  color: aliceblue;
}
.viewport {
  background-color: white;
  background-image: url('../assets/web-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 90px;
  min-height: 150vh;
}
.row {
  padding: 10px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col-1.ul-container,
.col-2.ul-container,
.col-3.ul-container,
.col-4.ul-container,
.col-5.ul-container,
.col-6.ul-container,
.col-7.ul-container,
.col-8.ul-container,
.col-9.ul-container,
.col-10.ul-container,
.col-11.ul-container,
.col-12.ul-container,
.col.ul-container {
  justify-content: end;
}
.textarea {
  height: 200px;
}
#__next {
  color: #78444c;
  background-image: url('../assets/web-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.btn {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}
.btn-primary {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #fff;
  background: #008cff;
  box-shadow: 0 0 25px #008cff;
}
.btn-primary:hover {
  background: #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 25px #008cff, 0 0 50px #008cff, 0 0 100px #008cff;
}
.btn-primary.active {
  background: #50b0ff;
  box-shadow: 0 0 1px #50b0ff, 0 0 5px #50b0ff, 0 0 8px #50b0ff, 0 0 15px #50b0ff;
}
.btn-secondary {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #fff;
  background: #cd707f;
  box-shadow: 0 0 25px #cd707f;
}
.btn-secondary:hover {
  background: #cd707f;
  box-shadow: 0 0 5px #cd707f, 0 0 25px #cd707f, 0 0 50px #cd707f, 0 0 100px #cd707f;
}
.btn-secondary.active {
  color: #62454a;
  background: #fff0f3;
  box-shadow: 0 0 1px #fff0f3, 0 0 5px #fff0f3, 0 0 8px #fff0f3, 0 0 15px #fff0f3;
}
.btn-secondary.show {
  background: #fff0f3;
  box-shadow: 0 0 1px #fff0f3, 0 0 5px #fff0f3, 0 0 8px #fff0f3, 0 0 15px #fff0f3;
}
.btn-danger {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #fff;
  background: red;
  box-shadow: 0 0 25px red;
}
.btn-danger:hover {
  background: red;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
}
.btn-danger.active {
  background: #ff7c7c;
  box-shadow: 0 0 1px #ff7c7c, 0 0 5px #ff7c7c, 0 0 8px #ff7c7c, 0 0 15px #ff7c7c;
}
.btn-warning {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #000;
  background: #ffd000;
  box-shadow: 0 0 25px #ffd000;
}
.btn-warning:hover {
  background: #ffd000;
  box-shadow: 0 0 5px #ffd000, 0 0 25px #ffd000, 0 0 50px #ffd000, 0 0 100px #ffd000;
}
.btn-warning.active {
  background: #ffe880;
  box-shadow: 0 0 1px #ffe880, 0 0 5px #ffe880, 0 0 8px #ffe880, 0 0 15px #ffe880;
}
.btn-success {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #fff;
  background: green;
  box-shadow: 0 0 25px green;
}
.btn-success:hover {
  background: green;
  box-shadow: 0 0 5px #5ece5e, 0 0 25px #5ece5e, 0 0 50px #5ece5e, 0 0 100px #5ece5e;
}
.btn-success.active {
  background: #5ece5e;
  box-shadow: 0 0 1px #5ece5e, 0 0 5px #5ece5e, 0 0 8px #5ece5e, 0 0 15px #5ece5e;
}
.btn-light {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #000;
  background: #d4d4d4;
  box-shadow: 0 0 25px #d4d4d4;
}
.btn-light:hover {
  background: #d4d4d4;
  box-shadow: 0 0 5px #d4d4d4, 0 0 25px #d4d4d4, 0 0 50px #d4d4d4, 0 0 100px #d4d4d4;
}
.btn-light.active {
  background: #fafafa;
  box-shadow: 0 0 1px #fafafa, 0 0 5px #fafafa, 0 0 8px #fafafa, 0 0 15px #fafafa;
}
.btn-dark {
  padding: 5px 10px;
  border: none;
  font-size: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  color: #fff;
  background: #2e2e2e;
  box-shadow: 0 0 25px #2e2e2e;
}
.btn-dark:hover {
  background: #2e2e2e;
  box-shadow: 0 0 5px #2e2e2e, 0 0 25px #2e2e2e, 0 0 50px #2e2e2e, 0 0 100px #2e2e2e;
}
.btn-dark.active {
  background: #919191;
  box-shadow: 0 0 1px #919191, 0 0 5px #919191, 0 0 8px #919191, 0 0 15px #919191;
}
.input {
  max-width: 190px;
  background-color: #f5f5f5;
  color: #242424;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  line-height: 1.15;
  box-shadow: 0px 10px 20px -18px;
}
.input:focus {
  border-bottom: 3px solid #ff0000;
  border-radius: 4px 4px 2px 2px;
}
.input:hover {
  outline: 1px solid rgba(211, 211, 211, 0.272);
}
img.carousel {
  max-height: 80vh;
  max-width: 80vh;
}
img.profile-pic {
  max-height: 400px;
  width: auto;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #845c64;
}
input.rating {
  height: 300px;
  width: 400px;
}
.textarea {
  border: 3px solid pink;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
form button.rating {
  border-top-right-radius: 0 ;
  border-top-left-radius: 0 ;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card {
  background-color: rgba(255, 255, 255, 0.958);
}
.rating-card {
  width: 190px;
  height: 274px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
  border: 2px solid pink;
  box-shadow: 10px 10px 30px #8c515a;
}
.card-image {
  background-color: #ececec;
  width: 100%;
  height: 60%;
  border-radius: 6px 6px 0 0;
}
.card-image img {
  max-width: 100%;
  max-height: 100%;
}
.card-image:hover {
  transform: scale(0.98);
}
.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: #3f79e6;
  padding: 10px 7px 0;
}
.category:hover {
  cursor: pointer;
}
.heading {
  font-weight: 500;
  color: #585757;
  padding: 7px;
  font-size: 12px;
}
.heading:hover {
  cursor: pointer;
}
.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}
.name {
  font-weight: 600;
}
.name:hover {
  cursor: pointer;
}
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4B4B4B;
  box-shadow: 10px 10px 30px #df93a0;
}
.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}
.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: red;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}
.section_form {
  padding-bottom: 50px;
}
html,
body {
  margin: 0px;
  color: #362430;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
